@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar-cont {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 36px;
    height: 36px;
    top: 40px;
    left: 96px;
}

.heading {
    font-family: "Roboto";
    width: 107px;
    height: 44px;
    top: 36px;
    left: 667px;
    gap: 0px;
    opacity: 0px;
    color: #000000;
    font-size: 36px;
    font-weight: 900;
    line-height: 43.57px;
    letter-spacing: 1px;
    text-align: center;
}

.nav-menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
    width: Hug (244px)px;
    height: Hug (24px)px;
    top: 46px;
    left: 1100px;
    gap: 24px;
    opacity: 0px;
}

.language {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    font-family: "Roboto";
}

.nav-items-list {
    font-family: "Roboto";
    display: flex;
    list-style: none;
    color: #000000;
    font-size: 14px;
    align-items: center;
    width: Hug (636px)px;
    height: Hug (24px)px;
    top: 408px;
    left: 320px;
    gap: 40px;
    opacity: 0px;
    padding-left: 298px;
    padding-top: 30px;
    font-weight: 700;
    padding-bottom:30px;
}
.separator{
    border:1px solid #E5E5E5;
    top:32px;
    
}